@import "tailwindcss";

@theme {
  --color-primary: #4372C4;
  --color-secondary: #2F1A1B;
  --color-tertiary: #F8B702;
  --color-error: #EF4648;

  --color-background-primary: #F0EBE1;
  --color-background-secondary: #2F1A1B;
  --color-text-dark-bg: #FBF5F2;

  --color-foreground: #000000;

}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body, html{
  background: var(--color-background-primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100svh;
  overflow-x: hidden;  /* prevent sideways scroll only */
  overscroll-behavior-y: none; /* optional: prevents iOS rubber banding */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}


/* Used to remove default browser eye icons from popping up beside our icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-calendar-picker-indicator {
  display: none !important;
}

